@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');


/* .resumeDetail_body {
	margin: 20px 20px 60px;
} */

/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular';
}

td {
  font-family: 'Pretendard-Bold';
  font-weight: 800;
}

button {
  font-family: 'Pretendard-Regular';
  font-weight: 500;
} */